/* FONT STACK */
body,
input, select, textarea {
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	font-family: 'Telex', pt-sans, Arial, sans-serif;
	color: #333;
}

/* BASE LAYOUT */
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
}

p {
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 0.5em;
}

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	color: #333;
	font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%;
}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}

/* HEADER SECTION*/
#header {
	background-color: #0097E0;
}

#upperHeader {
	display: block;
	width: 100%;
	min-width: 874px;
	clear: both;
}

#upperHeader .section{
	width: 834px;
	height:106px;
	margin-left: auto;
	margin-right: auto;
}

#lowerHeader {
	display: block;
	/*width: 99.8%;*/
	width: 1024px;
	min-width: 874px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.50);
    border-left: 1px solid rgba(2, 2, 2, 0.28);
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgba(2, 2, 2, 0.28);
    border-top: 1px solid rgba(250, 250, 250, 0.27);
    border-bottom: 1px solid #7ACEF4
    -webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
    -moz-box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	z-index: 9999;
}

.upper-header {
	float:left;
	display:block;
	height:96px;
}

.lower-header {
	float:left;
	display:block;
	height:20px;
}

.logo {
	background: url('../images/header-logo.png') no-repeat transparent; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url('../images/header-logo.png'), -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #0097e0 60%); /* FF3.6+ */
	background-image: url('../images/header-logo.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(60%,#0097e0)); /* Chrome,Safari4+ */
	background-image: url('../images/header-logo.png'), -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#0097e0 60%); /* Chrome10+,Safari5.1+ */
	background-image: url('../images/header-logo.png'), -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#0097e0 60%); /* Opera 12+ */
	background-image: url('../images/header-logo.png'), -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#0097e0 60%); /* IE10+ */
	background-image: url('../images/header-logo.png'), radial-gradient(ellipse at center,  #ffffff 0%,#0097e0 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0097e0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.slogan {
	font-weight: bold;
	font-family: font-family: 'Denk One', Arial, Helvetica, Tahoma, sans-serif;
	font-size: 9px;
	line-height: 1.3em;
	margin-top: 75px;
	margin-left: 65px;
	float: right;
}

/* Login section */
#loginInfo {
	font-size: 12px;
	float: right;
}
#loginInfo span {
	font-weight: bold;
}

#loginInfo a {
	font-size: 12px;
	color: white;
	float: right;
	clear: both;
}

#login_username{
	background: url("../images/status_online.png") no-repeat scroll 2px 0 #EEEEEE;
}

#login_password{
	background: url("../images/key.png") no-repeat scroll 2px 0 #EEEEEE;
}

#loginBtn {
	font-size: 12px;
	margin: 0;
	padding: 1px 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#submitDiv a {
	font-size: 12px;
	height: 18px;
	margin: 5px 0;
	padding: 2px 0 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #FF9100;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FF9100),color-stop(100%,#C6750B));
	background-image: -webkit-linear-gradient(#FF9100,#C6750B);
	background-image: -moz-linear-gradient(#FF9100,#C6750B);
	background-image: -o-linear-gradient(#FF9100,#C6750B);
	background-image: -ms-linear-gradient(#FF9100,#C6750B);
    background-image: linear-gradient(#FF9100, #C6750B);
}

.login_text {
	float: left;
	padding-left: 22px;
	width: 160px;
	height: 16px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	margin-top: 5px;
	color: #0097E0;
	clear: both;
}
.login_text::-webkit-input-placeholder {color: #888;}
.login_text:-moz-placeholder {color: #888;}
.login_text::-moz-placeholder {color: #888;}
.login_text:-ms-input-placeholder {color: #888;}

#registerDiv {
	float: left;
	margin-top: 10px;
}

#loginInfo label {
	color: #FFF;
	margin: 4px 0 0 5px;
	vertical-align: middle;
	float: left;
}

#login_remember {
    vertical-align: middle;
    float: left;
    clear: both;
    margin-top: 5px;
}

#submitDiv {
	float: right;
	width: 100px;
	margin-top: 5px;
}

/* CONTENT SECTION*/
#content-wrapper {
	background-color: #fff;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position:center;
	-webkit-box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
	box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
	padding: 20px 0;
	border-top: 1px solid #333;
	border-radius: 0 0 10px 10px;
	position: relative;
	min-height: 655px;
}

#container {
	background: #0097e0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTdlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #0097e0 0%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0097e0), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0097e0 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0097e0 0%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0097e0 0%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0097e0 0%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097e0', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */
	margin: 0 auto;
	padding: 0 20px;
}

footer {
	border-top: 1px solid #7ACEF4;
}

h2.logo a {
	width: 243px;
	background: url('../images/header-logo.png') no-repeat;
	float: left;
	display: block;
	height: 92px;
	overflow: hidden;
	text-indent: -1000px;
}

img, object, embed {
	max-width: 100%;
	height: auto;
}

menu, ol, ul {
	padding: 0;
}

/*nav#main {
	background-color: rgba(0, 0, 0, 0.18);
	border-radius: 10px 10px 0 0;
	border-right: 1px solid rgba(2, 2, 2, 0.28);
	border-left: 1px solid rgba(2, 2, 2, 0.28);
	border-top: 1px solid rgba(250, 250, 250, 0.27);
	-webkit-box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	box-shadow: rgba(255,255,255,0.3) 0 1px 0, rgba(0,0,0,0.3) 0 -1px 0;
	-webkit-box-shadow: 0 0 3px rgba(1, 1, 1, 0.7);
	box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
}*/

nav#main ul {
	margin: 0;
	float: left;
	width: 70%;
	padding-top: 0;
	padding-bottom: 0;
}

nav#main li {
	display: inline;
	float: left;
	font: normal normal 12px "Telex", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	margin-right: 2px;
}

nav#main li a {
	color: #fff;
	text-decoration: none;
	padding: 6px 10px;
	display: block;
	border: 1px solid transparent;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.76);
}

nav#main li a:hover,
nav#main li.current a {
	background: none;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.25);
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.796875) 0px -1px 0px, rgba(255, 255, 255, 0.296875) 0px 0px 10px;
}

nav#main .right {
	float: right;
	width: 28%;
	margin-top: 12px;
	padding: 0;
	position: relative;
}

/* AdSense */
.leaderboard {
	background: #DFDFDF;
	margin-top:5px;
	width: 728px;
	height: 90px;
	float: right;
}

.banner {
	background: #DFDFDF;
	margin-top:5px;
	width: 468px;
	height: 60px;
	float: right;
}

.mediumRectangle {
	background: #DFDFDF;
	margin-top:5px;
	width: 300px;
	height: 250px;
	float: left;
}

.largeRectangle {
	background: #DFDFDF;
	margin-top:5px;
	width: 336px;
	height: 280px;
	float: left;
}

/* SEARCH */
#mainSearch {
	background: url('../images/main-search.png') no-repeat;
	width:317px;
	height:217px;
}

.complete-radius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.upper-radius {
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.search-from {
	background: url("../images/map_blue.png") no-repeat scroll 0 0 #EEEEEE;
	-webkit-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	float: left;
	padding-left: 26px;
	width: 160px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	margin-top: 20px;
	margin-left: 90px;
	color: #0097E0;
}
.search-from::-webkit-input-placeholder {color: #888;}
.search-from:-moz-placeholder {color: #888;}
.search-from::-moz-placeholder {color: #888;}
.search-from:-ms-input-placeholder {color: #888;}

.search-to {
	background: url("../images/map_blue.png") no-repeat scroll 0 0 #EEEEEE;
	-webkit-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	padding-left: 26px;
	float: left;
	width: 160px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	margin-top: 20px;
	margin-left: 90px;
	color: #0097E0;
}
.search-to::-webkit-input-placeholder {color: #888;}
.search-to:-moz-placeholder {color: #888;}
.search-to::-moz-placeholder {color: #888;}
.search-to:-ms-input-placeholder {color: #888;}

.search-date {
	background: url("../images/calendar_blue.png") no-repeat scroll 0 0 #EEEEEE;
	-webkit-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 26px;
	float: left;
	width: 160px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	margin-top: 20px;
	margin-left: 90px;
	color: #0097E0;
}
.search-date::-webkit-input-placeholder {color: #888;}
.search-date:-moz-placeholder {color: #888;}
.search-date::-moz-placeholder {color: #888;}
.search-date:-ms-input-placeholder {color: #888;}

.home-button-search {
	background-color: #0097E0;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#0097E0),color-stop(100%,#1866AC));
	background-image: -webkit-linear-gradient(#0097E0,#1866AC);
	background-image: -moz-linear-gradient(#0097E0,#1866AC);
	background-image: -o-linear-gradient(#0097E0,#1866AC);
	background-image: -ms-linear-gradient(#0097E0,#1866AC);
	background-image: linear-gradient(#0097E0,#1866AC);
	background-repeat: repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 0 1px 0 #4dd1ff inset,rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: 0 1px 0 #4dd1ff inset,rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: 0 1px 0 #4dd1ff inset,rgba(0,0,0,0.35) 2px 2px 2px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #06f;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	overflow: hidden;
	padding: 4px 0px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	vertical-align: middle;
	width: 100px;
	margin-top: 20px;
	margin-right: 38px;
	float: right;
}

.home-button-search:hover {
	box-shadow: 0 0 5px rgba(255,255,255,0.6) inset,0 1px 2px rgba(0,0,0,0.2);
}

.home-button-search:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#1866AC),color-stop(100%,#0097E0));
	background-image: -webkit-linear-gradient(#1866AC,#0097E0);
	background-image: -moz-linear-gradient(#1866AC,#0097E0);
	background-image: -o-linear-gradient(#1866AC,#0097E0);
	background-image: -ms-linear-gradient(#1866AC,#0097E0);
	background-image: linear-gradient(#1866AC,#0097E0);
}

/* SEO-Content */
#seoContent {
	clear: both;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

#seoContent p:first-child {
	margin-top: 0;
}

#seoContent p {
	display: block;
	text-align: justify;
	color: #7f7f7f;
	font: 11px/18px "pt-sans", Arial, sans-serif;
}

#seoContent ol {
	display: block;
	font-style:italic;
	font-family:Georgia, Times, serif;
	font-size:11px;
	color:#0097E0;
	font-weight: bold;
}

#seoContent h2 {
	display: block;
	font-style:italic;
	font-family:Georgia, Times, serif;
	font-size:14px;
	color:#0097E0;
	font-weight: bold;
	padding-top: 0.83em;
	padding-bottom: 0.83em;
}

#seoContent ol li {
	margin-bottom: -11px;
}

#seoContent ol li:last-child {
	margin-bottom: 0;
}

#seoContent ol li p{
	font-style: italic;
	padding:8px;
	font: 11px "pt-sans", Arial, sans-serif;
	color:#7f7f7f;
	border-left: 1px solid #999;
}

/* FOOTER SECTION */
footer.simple {
	padding-top: 15px;
	padding-bottom: 10px;
}

footer {
	margin-top: -20px;
	padding-top: 40px;
	display: block;
	min-width: 100%;
	float: left;
	background: #333;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a5a5a), color-stop(1px, #404040), color-stop(100%, #333333));
	background: -webkit-linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	background: -moz-linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	background: -o-linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	background: linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	color: #fff;
	z-index: 9999;
}

footer a:link, a:visited, a:hover {
	text-decoration: none;
	color: #0097E0;
}

#footer-wrapper {
	width: 900px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
}

#footer #footer-wrapper #footer-content-wrapper {
	min-height: 100px;
	overflow: hidden;
}

#footer #footer-wrapper #footer-top {
	border-bottom: 1px solid #2d2d2d;
}

#footer #footer-wrapper #footer-bottom {
	border-top: 1px solid #444;
	font-size: 11px !important;
	margin-bottom: 20px;
}

#footer #footer-wrapper .footer-row {
	width: 100%;
	float: right;
	margin-right: 0;
	display: inline;
	padding: 10px 0 0 0;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers {
	font-size: 11px;
	float: left;
	margin-right: 2.32558%;
	display: inline;
}

#footer #footer-wrapper #footer-bottom a, #footer #footer-wrapper #footer-bottom .generate {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: white;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers .footer-title {
	font-weight: bold;
	margin: 10px 0;
	display: block;
	font-size: 12px;
	min-height: 20px;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers ul {
	border-top: 1px solid #2d2d2d;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers li {
	border-top: 1px solid #444;
	border-bottom: 1px solid #2d2d2d;
	position: relative;
	display: block;
	cursor: pointer;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers li:last-child {
    border-bottom: medium none;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers a {
	padding: 7px 0;
	display: block;
	font-size: 11px;
}

#footer a:hover {
	text-decoration: underline;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us {
	margin: 0;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers:last-child {
	float: right;
	margin-right: 0;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us ul, #footer #footer-wrapper #footer-content-wrapper #footer-follow-us li {
	border: none;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li {
	background: transparent;
	text-transform: capitalize;
}

#footer-wrapper #footer-content-wrapper #footer-follow-us li {
	border: none;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us a,
#footer #footer-wrapper #footer-content-wrapper #footer-follow-us .generate {
	padding-left: 35px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li [class^="icon-share"],
#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li [class*=" icon-share"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 30px;
	background: url("../images/social-images.png");
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li .icon-share-fb {
    background-position: -125px -5px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li:hover .icon-share-fb {
	background-position: -125px -42px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li .icon-share-g {
	background-position: -72px -5px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li:hover .icon-share-g {
	background-position: -72px -42px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li .icon-share-tw {
    background-position: -150px -5px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li:hover .icon-share-tw {
	background-position: -150px -42px;
}

 /* Helper classes */
 .row {
	width: 1024px;
	max-width: 100%;
	min-width: 768px;
	margin: 0 auto;
}

.twelve, .row .twelve {
	width: 100%;
}

.column, .columns {
	float: left;
	min-height: 1px;
	padding: 0 25px;
	position: relative;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.constrain {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
}

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.left {
	float: left;
}

.right {
	float: right;
}
