/* FONT STACK */
body,
input, select, textarea {
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	font-family: pt-sans, Arial, sans-serif;
}

/* BASE LAYOUT */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

html {
	background-color: #fff;
	background-image: url(../images/background.png);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
	background-position:center top;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

footer {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
}

html * {
	margin: 0;
}

body {
	margin: 0 auto;
}



a:link, a:visited, a:hover {
	text-decoration: none;
	color: #0097E0;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* CLASSES */
.ie6 html {
	height: 100%;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

.left {
float: left;
}

.right {
	float: right;
}

.inner-component {
	float:left;
	display:inline;
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 834px;
}

.step {
	height:119px;
	width: 117px;
	font-size: 10px;
	color: white;
	font-weight: bold;
	margin: 50px 0 0 15px;
}

.shadow {
	box-shadow: 8px 5px 12px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 8px 5px 12px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 8px 5px 12px rgba(0, 0, 0, 0.4);
}

/* HEADER SECTION*/
#upperHeader {
	display: block;
	min-width: 100%;
	float: left;
	background: #0097E0;
	z-index: 9999;
}

#lowerHeader {
	display: block;
	min-width: 100%;
	float: left;
	background: #004A72;
	z-index: 9999;
}

.upper-header {
	float:left;
	display:inline;
	height:96px;
}

.lower-header {
	float:left;
	display:inline;
	height:24px;
}

.logo {
	background: url('../images/header-logo.png') #0097E0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background-image: url('../images/header-logo.png'), -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #0097e0 60%); /* FF3.6+ */
	background-image: url('../images/header-logo.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(60%,#0097e0)); /* Chrome,Safari4+ */
	background-image: url('../images/header-logo.png'), -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#0097e0 60%); /* Chrome10+,Safari5.1+ */
	background-image: url('../images/header-logo.png'), -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#0097e0 60%); /* Opera 12+ */
	background-image: url('../images/header-logo.png'), -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#0097e0 60%); /* IE10+ */
	background-image: url('../images/header-logo.png'), radial-gradient(ellipse at center,  #ffffff 0%,#0097e0 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0097e0',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.slogan {
	font-weight: bold;
	font-family: font-family: 'Myriad Pro', Arial, Helvetica, Tahoma, sans-serif;
	font-size: 8px;
	line-height: 1.3em;
	margin-top: 75px;
	float: right;
}

#topDestinations span {
	color: #0097E0;
	font-weight: bold;
}

/* SEARCH */
.from {
	float: left;
	margin: 0 19px 0 0;
}

.to {
	float: left;
	margin: 0 19px 0 0;
	clear: both;
}

.date {
	float: left;
	margin: 0 19px 0 0;
	clear: both;
}

.search-from {
	background: url("../images/map_blue.png") no-repeat scroll 0 0 #EEEEEE;
	-webkit-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	padding-left: 26px;
	width: 160px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	float: right;
	margin-top: 20px;
	margin-left: 90px;
	color: #AAAAAA;
}

.search-to {
	background: url("../images/map_blue.png") no-repeat scroll 0 0 #EEEEEE;
	-webkit-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 26px;
	float: left;
	width: 160px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	float: right;
	margin-top: 20px;
	margin-left: 90px;
	color: #AAAAAA;
}

.search-date {
	background: url("../images/calendar_blue.png") no-repeat scroll 0 0 #EEEEEE;
	-webkit-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: rgba(0,0,0,0.35) 2px 2px 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 26px;
	float: left;
	width: 160px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #EEEEEE;
	float: right;
	margin-top: 20px;
	margin-left: 90px;
	color: #AAAAAA;
}

.home-button-search {
	background-color: #0097E0;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#0097E0),color-stop(100%,#1866AC));
	background-image: -webkit-linear-gradient(#0097E0,#1866AC);
	background-image: -moz-linear-gradient(#0097E0,#1866AC);
	background-image: -o-linear-gradient(#0097E0,#1866AC);
	background-image: -ms-linear-gradient(#0097E0,#1866AC);
	background-image: linear-gradient(#0097E0,#1866AC);
	background-repeat: repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 0 1px 0 #4dd1ff inset,rgba(0,0,0,0.35) 2px 2px 2px;
	-moz-box-shadow: 0 1px 0 #4dd1ff inset,rgba(0,0,0,0.35) 2px 2px 2px;
	box-shadow: 0 1px 0 #4dd1ff inset,rgba(0,0,0,0.35) 2px 2px 2px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #06f;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 0;
	overflow: hidden;
	padding: 4px 0px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	vertical-align: middle;
	width: 100px;
	margin-top: 20px;
	margin-right: 38px;
	float: right;
}

.home-button-search:hover {
	box-shadow: 0 0 5px rgba(255,255,255,0.6) inset,0 1px 2px rgba(0,0,0,0.2);
}

.home-button-search:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#1866AC),color-stop(100%,#0097E0));
	background-image: -webkit-linear-gradient(#1866AC,#0097E0);
	background-image: -moz-linear-gradient(#1866AC,#0097E0);
	background-image: -o-linear-gradient(#1866AC,#0097E0);
	background-image: -ms-linear-gradient(#1866AC,#0097E0);
	background-image: linear-gradient(#1866AC,#0097E0);
}

/* SEO CONTENT SECTION */
#seoContent {
	clear: both;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 834px;
}

#seoContent p:first-child {
	margin-top: 0;
}

#seoContent p {
	display: block;
	text-align: justify;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-moz-margin-before: 1em;
	-moz-margin-after: 1em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	color: #7f7f7f;
	font: 11px/18px "pt-sans", Arial, sans-serif;
}

/* POSTS WIDGET */


/* FOOTER SECTION */
#footer {
	display: block;
	min-width: 100%;
	float: left;
	background: #333;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5a5a5a), color-stop(1px, #404040), color-stop(100%, #333333));
	background: -webkit-linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	background: -moz-linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	background: -o-linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	background: linear-gradient(#5a5a5a,#404040 1px,#333333 100%);
	color: #fff;
	z-index: 9999;
}

#footer-wrapper {
	width: 834px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
}

#footer #footer-wrapper #footer-content-wrapper {
	min-height: 100px;
	overflow: hidden;
}

#footer #footer-wrapper #footer-top {
	border-bottom: 1px solid #2d2d2d;
}

#footer #footer-wrapper #footer-bottom {
	border-top: 1px solid #444;
	font-size: 11px !important;
	margin-bottom: 20px;
}

#footer #footer-wrapper .footer-row {
	width: 100%;
	float: right;
	margin-right: 0;
	display: inline;
	padding: 10px 0 0 0;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers {
	font-size: 11px;
	width: 13%;
	float: left;
	margin-right: 2.32558%;
	display: inline;
}

#footer #footer-wrapper #footer-bottom a, #footer #footer-wrapper #footer-bottom .generate {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: white;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers .footer-title {
	font-weight: bold;
	margin: 10px 0;
	display: block;
	font-size: 12px;
	min-height: 20px;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers ul {
	border-top: 1px solid #2d2d2d;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers li {
	border-top: 1px solid #444;
	border-bottom: 1px solid #2d2d2d;
	position: relative;
	display: block;
	cursor: pointer;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers li:last-child {
    border-bottom: medium none;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers a {
	padding: 7px 0;
	display: block;
	font-size: 11px;
}

#footer a:hover {
	text-decoration: underline;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us {
	margin: 0;
}

#footer #footer-wrapper #footer-content-wrapper .footer-containers:last-child {
	float: right;
	margin-right: 0;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us ul, #footer #footer-wrapper #footer-content-wrapper #footer-follow-us li {
	border: none;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li {
	background: transparent;
	text-transform: capitalize;
}

#footer-wrapper #footer-content-wrapper #footer-follow-us li {
	border: none;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us a,
#footer #footer-wrapper #footer-content-wrapper #footer-follow-us .generate {
	padding-left: 35px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li [class^="icon-share"],
#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li [class*=" icon-share"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 30px;
	background: url("../images/social-images.png");
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li .icon-share-fb {
    background-position: -125px -5px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li:hover .icon-share-fb {
	background-position: -125px -42px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li .icon-share-g {
	background-position: -72px -5px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li:hover .icon-share-g {
	background-position: -72px -42px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li .icon-share-tw {
    background-position: -150px -5px;
}

#footer #footer-wrapper #footer-content-wrapper #footer-follow-us li:hover .icon-share-tw {
	background-position: -150px -42px;
}
